---
layout: default
title: projects
---

<div id="projects">
	<h1>projects</h1>
	<!--<h1>side projects</h1>
	<ul class="posts">
		{% for post in site.categories['side-projects'] %}
		<li>{{ post.content }}</li>
		{% endfor %}
	</ul>-->
	<a href="http://www.osu.edu"><img src="../img/osu_logo.jpg" title="The Ohio State University" class="logo"></a>
	<h2>academic</h2>
	<ul class="posts">
		{% for post in site.categories['academic-projects'] %}
		<li>{{ post.content }}</li>
		{% endfor %}
	</ul>
</div>